.productInfoSection {
  width: 900px;
  max-width: 900px;
  max-height: 700px;
  animation: scaleEnd 0.4s;
}

@keyframes scaleStart {
  from {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleEnd {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.97);
  }
}

.productInfoSection.active {
  animation: scaleStart 0.4s;
}

.productInfoSection .closeIcon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  top: -15px;
  right: -15px;
}

@media (max-height: 740px) {
  .productInfoSection {
    max-height: 100%;
  }
}
