header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;
  transition: 0.1s ease border-width;
  border: none;
}

header.scrolling {
  border-bottom: 1px solid lightgray;
}

.parent-container {
  height: 95px;
}
