.productDetailsSection img {
  object-fit: contain;
}

.productDetailsSection .imgs {
  max-height: 300px;
  top: 143px;
}

.productDetailsSection .imgs > .swiper-container {
  height: 100%;
}

.productInfoSlide > div {
  border-top: 1px solid lightgray;
  overflow: hidden;
  height: 62px;
  transition: 0.4s ease height;
}

.productInfoSlide > div > div {
  cursor: pointer;
}

.productInfoSlide > div p {
  font-size: 14px;
}

.productInfoSlide > div .content {
  opacity: 0;
  transition: 0.3s ease opacity;
}

.productInfoSlide > div .more-details-icon {
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.productInfoSlide > div .more-details-icon .bar {
  width: 100%;
  height: 2px;
  background-color: black;
}

.productInfoSlide > div .more-details-icon .x-bar {
  top: 50%;
  transform: translateY(-50%);
}

.productInfoSlide > div .more-details-icon .y-bar {
  left: 45%;
  top: 50%;
  transform: translateX(-50%) rotate(90deg) translateY(-50%);
  transition: 1s linear top;
}

.productInfoSlide > div.active .more-details-icon .y-bar {
  top: 200%;
}

.productInfoSlide > div.active {
  height: auto;
}

.productInfoSlide > div.active .content {
  opacity: 1;
}

.rating ul li {
  color: lightgray;
  font-size: 20px;
  cursor: pointer;
}

.rating ul li:hover ~ li,
.rating ul li:focus ~ li,
.rating ul li:hover {
  color: black;
}

.productDetailsSection .form textarea {
  resize: none;
  height: 150px;
  outline: none;
  border: 1px solid lightgray;
}

.productDetailsSection .form input {
  outline: none;
  border: 1px solid lightgray;
}

.productDetailsSection .form textarea:focus,
.productDetailsSection .form input:focus {
  border: 1px solid gray;
}

.productDetailsSection .form .save-data {
  cursor: pointer;
}

.productDetailsSection .form .save-data label {
  font-size: 12px;
}

@media (max-width: 1200px) {
  .productDetailsSection .imgs {
    margin-bottom: 40px;
    position: relative !important;
    top: 0;
    height: auto;
    max-height: 500px;
  }

  .productDetailsSection .productDetails {
    width: 100%;
  }

  .productDetailsSection .productDetails .description {
    width: 80%;
  }

  .productDetailsSection .productCount .count {
    width: 250px;
  }

  .productDetailsSection .productCount .addToCart {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  .productDetailsSection img {
    max-height: 400px;
    object-position: top;
  }
}

@media (max-width: 768px) {
  .productDetailsSection .productCount .count {
    width: 100%;
  }
}
