.user-logging img {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 50%;
}

.user-logging img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 41px;
  height: 41px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.user-logging p {
  font-size: 12px;
  width: 30px;
  overflow-x: hidden;
  white-space: nowrap;
  text-align: center;
}
