.aside {
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  transition: 0.4s ease;
  transition-property: left, right;
  z-index: 1;
}

.aside.cartSection {
  right: -450px;
}

.aside.menuSection,
.aside.productFilterSection {
  left: -450px;
}

.overLay[status="overLayState cartState"] .aside.cartSection {
  right: 0px;
  transition-delay: 0.4s;
}

.overLay[status="overLayState menuState"] .aside.menuSection,
.overLay[status="overLayState productFilterState"] .aside.productFilterSection {
  left: 0px;
  transition-delay: 0.4s;
}

@media (max-width: 460px) {
  .aside {
    width: 100%;
  }

  .aside.menuSection {
    left: -100%;
  }

  .aside.cartSection {
    right: -100%;
  }
}
