.FlashSaleSection .row:first-child {
  grid-template-columns: repeat(3, calc((100% / 3) - 11px));
  column-gap: 16px;
}

.FlashSaleSection .row:first-child .banner {
  grid-area: 1 / 1 / 1 / 3;
  overflow: hidden;
  position: relative;
}

.FlashSaleSection .maxSlider .swiper-slide {
  position: relative;
  overflow: hidden;
}

.FlashSaleSection .banner::before,
.FlashSaleSection .maxSlider .swiper-slide::before {
  content: "";
  position: absolute;
  left: -50%;
  transform: skew(-10deg);
  width: 30%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(245, 245, 245, 0.5)
  );
  z-index: 2;
}

.FlashSaleSection .banner:hover::before,
.FlashSaleSection .maxSlider .swiper-slide-active::before {
  left: 100%;
  transition: 0.8s ease;
}

@media (min-width: 567px) {
  .FlashSaleSection .maxSlider .swiper-slide-next::before {
    left: 100%;
    transition: 0.8s ease left;
  }

  .FlashSaleSection .maxSlider .swiper-slide-active::before {
    display: none;
  }
}

.minSlider {
  border: 1px solid #e1e1e1;
}

.minSlider .item-title,
.minSlider .beforeSale {
  color: gray;
}

.minSlider .item-title {
  color: gray;
}

.minSlider .price {
  font-size: 18px;
}

.minSlider .details p {
  text-overflow: ellipsis;
}

.minSlider .img {
  width: 200px;
  height: 200px;
}

.minSlider .img img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease transform;
}

.FlashSaleSection .banner img {
  width: 100%;
  height: 100%;
  min-height: 150px;
  object-fit: cover;
  position: relative;
}

.minSlider .swiper-slide:hover img {
  transform: scale(1.1);
}

.category .section .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s ease background-color;
}

.category .section .img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: 0.2s ease;
  transition-property: opacity, transform;
  z-index: 2;
  color: white;
}

.category .section:hover .img::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.category .section:hover svg {
  transform: translate(-50%, -50%) scale(2);
  opacity: 1;
}

@media (max-width: 1400px) {
  .FlashSaleSection .row:first-child {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    column-gap: 0;
    row-gap: 1rem;
  }
}
@media (max-width: 768px) {
  .minSlider .img {
    width: 150px;
    height: 150px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .minSlider .details p {
    font-size: 14px;
  }

  .minSlider .img img {
    height: 100%;
  }
}

@media (max-width: 567px) {
  .minSlider .swiper-slide .sliderItem > .content {
    flex-direction: column;
    justify-content: center;
  }

  .minSlider .swiper-slide .sliderItem .content .price {
    display: flex;
    justify-content: space-between;
  }
}
